@{
    ViewBag.Title = "Home Page";
}

<h2>@ViewBag.Message</h2>
<p>
    Esta sera la pagina de inicio <a href="http://asp.net/mvc" title="ASP.NET MVC Website">http://asp.net/mvc</a>.
</p>
<hr/>
<marquee direction="up" scrooldelay="800"> top 10 articulos </marquee>
